

<div class="d-flex flex-column mt-3">
    @if(Publicacion.publicaciones.Count == 0)
    {
        <p class="h1">Bienvenido</p>
        <p class="h2">Todas las publicaciones apareceran aqui</p>
    } 
    else
    {

        <p class="h1 p-2 mb-3 ">Todas las publicaciones</p>

        <div class="d-flex">
            <form action="@Url.Action("BuscarVendedor", "Home")" class="d-flex  mb-3">
                <input name="barraBusqueda" type="text" placeholder="Buscar vendedor" class="form-control input-buscar" />
                <input type="submit" value="Buscar" class="btn btn-primary ml-2" />
            </form>
            <button class="btn btn-danger h-25 ml-1" onclick="location.href='@Url.Action("Reset", "Home")'">Deshacer</button>
        </div>
        
        
        

        <div class="d-flex flex-wrap  publicaciones">
            @if(Publicacion.busquedaVendedor.Count != 0)
            {
                @foreach(Publicacion p in Publicacion.busquedaVendedor)
                {   

                IEnumerable<Usuario> usuario = Usuario.usuarios.Where(u => u.Email == p.EmailVendedor);
                string usu = "";
                foreach(Usuario u in usuario)
                {
                    usu = u.Nombre;
                }


                <div class="card publicacion">
                  <div class="card-header text-white d-flex justify-content-between header"><p class="my-auto pre-publicacion font-weight-bold">$@p.Precio</p> <p class="my-auto font-weight-bold">ID: @p.Id</p> <p class="my-auto font-weight-bold usu-publicacion">@usu</p></div>
                  <div class="card-body">
                    <h5 class="card-title titulo font-weight-bold">@p.Titulo</h5>
                    
                    <p class="card-text descripcion">@p.Descripcion</p>
                    
                  </div>
                </div>
                }
            }

            else
            {
                @foreach(Publicacion p in Publicacion.publicaciones)
                {   

                IEnumerable<Usuario> usuario = Usuario.usuarios.Where(u => u.Email == p.EmailVendedor);
                string usu = "";
                foreach(Usuario u in usuario)
                {
                    usu = u.Nombre;
                }



                <div class="card publicacion">
                  <div class="card-header text-white d-flex justify-content-between header"><p class="my-auto pre-publicacion font-weight-bold">$@p.Precio</p> <p class="my-auto font-weight-bold">ID: @p.Id</p> <p class="my-auto font-weight-bold usu-publicacion">@usu</p></div>
                  <div class="card-body">
                    <h5 class="card-title titulo font-weight-bold">@p.Titulo</h5>
                    
                    <p class="card-text descripcion">@p.Descripcion</p>
                    
                  </div>
                </div>
                }
            }
        </div>
    }
        
</div>

<style>

    .publicaciones{
        width: 90%;
        
    }

    .input-buscar{
        width: 600px;
    }

    .card-header{
        background-color: #396EB0;
    }
    
    .publicacion{
        height: 300px;
        width: 300px;
        margin: 15px;
        
    }

    .header{
        height: 55px;
        
    }


    .titulo{
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 50px;
        color: #1363DF;
    }

    .descripcion{
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
    }

    .h1{
        color: #1363DF;
    }

    .usu-publicacion{
        width: 100px;
        text-align: end;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 24px;
    }

    .pre-publicacion{
        width: 100px;
    }

    

</style>
